@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
}

body{
    font-family: 'Lexend Deca', sans-serif;
    background-color: hsl(0, 0%, 95%);
}


main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem 0.6rem;
}

h1 {
font-family: 'Big Shoulders Display', cursive;
color: hsl(0, 0%, 95%);

}

.div-cars{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: hsla(0, 0%, 100%, 0.75);
    padding: 3rem;
    font-size: 15px;
    line-height: 1.5;
}

.div-cars h1, p, a {
    margin-top: 1.1rem;
}

.orange{
    border-radius: 10px 10px 0 0;
    background-color: hsl(31, 77%, 52%);
}

.darkcyan {
    background-color:  hsl(184, 100%, 22%);
}

.verydarkcyan{
    border-radius: 0 0 10px 10px;
    background-color: hsl(179, 100%, 13%);
}

.div-cars a {
    text-decoration: none;
    background-color: hsl(0, 0%, 95%);
    padding: 1rem 2rem;
    border-radius: 50px;
}

.orange a {
    color: hsl(31, 77%, 52%);
}

.darkcyan a {
    color: hsl(184, 100%, 22%);
}

.verydarkcyan a {
    color: hsl(179, 100%, 13%);
}


@media(min-width: 376px) {
    body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }

    main{
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: center;
        width: 75%;
    }

    .div-cars a{
        border: solid 2px hsla(0, 0%, 100%, 0.75);
        margin-top: 6rem;
    }

    .orange a:hover {
        color: hsla(0, 0%, 100%, 0.75);
        background-color: hsl(31, 77%, 52%);
    }
    
    .darkcyan a:hover {
        color: hsla(0, 0%, 100%, 0.75);
        background-color: hsl(184, 100%, 22%);
    }
    
    .verydarkcyan a:hover {
        color: hsla(0, 0%, 100%, 0.75);
        background-color: hsl(179, 100%, 13%);
    }
    .orange {
        border-radius: 10px 0 0 10px;
    }

    .verydarkcyan{
        border-radius: 0 10px 10px 0px;
    }

}